<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.first123">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.First123">
        <activity
            android:name=".PageActivity10"
            android:exported="false" />
        <activity
            android:name=".PageActivity9"
            android:exported="false" />
        <activity
            android:name=".PageActivity8"
            android:exported="false" />
        <activity
            android:name=".PageActivity7"
            android:exported="false" />
        <activity
            android:name=".PageActivity6"
            android:exported="false" />
        <activity
            android:name=".PageActivity5"
            android:exported="false" />
        <activity
            android:name=".PageActivity4"
            android:exported="false" />
        <activity
            android:name=".PageActivity3"
            android:exported="false" />
        <activity
            android:name=".PageActivity2"
            android:exported="false" />
        <activity
            android:name=".PageActivity1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>